@model RecipeManager.Models.Recipe
@using RecipeManager.Models
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>
<div class="recipe-details">
    <p><span> Serving Size: </span>@Model.ServingSize</p>
    <p><span> Cook Time: </span>@Model.CookTime</p>
    <p><span> Description: </span>@Model.Description</p>
    <p><span> Notes: </span>@Model.Notes</p>
</div>
<h5>Ingredients</h5>
<div class="ingredient-holder">
        @for (int i = 0; i < Model.Ingredients.Count(); i++)
        {
            <div class="ingredient-tile">         
                <span class="quantity-cell">
                    @Model.Ingredients[i].Quantity :
                </span>
                <span class="name-cell">
                    @Model.Ingredients[i].Name
                </span>
                @if(Model.Ingredients[i].Notes != null)
                {
                    <span>Notes:</span>
                    <span class="notes-cell">
                        @Model.Ingredients[i].Notes
                    </span>
                }
            </div>
        }
</div>

<h5> Instructions</h5>
<table class="instruction-holder">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="instructions">

        @for (int i = 0; i < Model.Instructions.Count(); i++)
        {
            <tr>
                <td class="step-cell">
                    @Model.Instructions[i].StepNumber
                </td>
                <td class="instruction-cell">
                    @Model.Instructions[i].Detail
                </td>
            </tr>
        }

    </tbody>
</table>
@if (@Model.IsSaved)
{
    <a href="~/SavedRecipes/Remove/@Model.ID">Remove</a>
}
else
{
<a href="~/SavedRecipes/Save/@Model.ID"> Save</a>
}
@if(User.Identity.Name == Model.Author)
{
<a href="~/Recipes/Edit/@Model.ID">Edit</a>
}
