@model RecipeManager.Models.Recipe
@using RecipeManager.Models
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<span class="hidden final-inst-count">@Model.Instructions.Count()-1</span>
<span class="hidden final-ing-count">@Model.Instructions.Count()-1</span>
<form method="post">
    <label asp-for="@Model.Title"></label>
    <input asp-for="@Model.Title" />
    <label asp-for="@Model.ServingSize"></label>
    <input asp-for="@Model.ServingSize" />
    <label asp-for="@Model.CookTime"></label>
    <input asp-for="@Model.CookTime" />
    <label asp-for="@Model.Description"></label>
    <input asp-for="@Model.Description" />
    <label asp-for="@Model.Notes"></label>
    <input asp-for="@Model.Notes" />
    <table class="ingr-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody class="ingredients">
            <tr>
                <td>
                    <input asp-for="@Model.Ingredients[0].Name" />
                </td>
                <td>
                    <input asp-for="@Model.Ingredients[0].Quantity" />
                </td>
                <td>
                    <input asp-for="@Model.Ingredients[0].Notes" />
                </td>
            </tr>
        </tbody>
    </table>
    <p class="ingredient-adder">Plus Plus</p>
    <table>
        <thead>
            <tr>
                <th> Step Number</th>
                <th> Instruction</th>
            </tr>
        </thead>
        <tbody class="instructions">
            
                @foreach (Instruction instruction in Model.Instructions)
                {
                    <tr>
                        <td>
                            <input type="number" asp-for="@Model.Instructions[instruction.StepNumber-1].StepNumber" value="@Model.Instructions[instruction.StepNumber-1].StepNumber" />
                        </td>
                        <td>
                            <input asp-for="@Model.Instructions[instruction.StepNumber-1].Detail" />
                        </td>
                    </tr>
                }

        </tbody>
    </table>
    <p class="instruction-adder">Plus Plus</p>
    <button type="submit">Submit</button>
</form>

